USE [CDG1Archivage]
GO
/****** Object:  Table [dbo].[AER]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AER](
	[ID_AEROPORT] [int] NOT NULL,
	[CODE_AER] [varchar](3) NOT NULL,
	[NOM_AER] [varchar](128) NOT NULL,
 CONSTRAINT [PK_AER] PRIMARY KEY CLUSTERED 
(
	[ID_AEROPORT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BSM]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BSM](
	[ID_BSM] [int] NOT NULL,
	[ID_VOL] [int] NULL,
	[CODE_IATA] [char](12) NOT NULL,
	[CRE] [char](1) NOT NULL,
	[DAT_CRE] [datetime] NOT NULL,
	[SUP] [bit] NULL,
	[CCLA] [char](1) NULL,
	[STA] [char](1) NULL,
	[TYP] [char](1) NULL,
	[NSUR] [char](3) NULL,
	[SSUR] [char](3) NULL,
	[AER_DES] [varchar](3) NULL,
	[ITI] [char](3) NULL,
	[EMB] [bit] NULL,
	[CIEE] [varchar](3) NOT NULL,
	[LIGE] [varchar](5) NOT NULL,
	[JEXE] [smallint] NOT NULL,
	[FID] [varchar](25) NULL,
	[CNT] [char](1) NULL,
	[STATUT_EJECTION] [char](1) NULL,
	[STATUT_TEMPOREL] [int] NULL,
	[DCS_EMETTEUR] [varchar](4) NULL,
 CONSTRAINT [PK_BSM] PRIMARY KEY CLUSTERED 
(
	[ID_BSM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BSM_A_POUR_PART]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BSM_A_POUR_PART](
	[ID_BSM] [int] NOT NULL,
	[ID_PART] [int] NOT NULL,
 CONSTRAINT [PK_A_POUR_PART] PRIMARY KEY CLUSTERED 
(
	[ID_BSM] ASC,
	[ID_PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BSM_PARTICULARITEES]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BSM_PARTICULARITEES](
	[ID_PART] [int] NOT NULL,
	[PART] [varchar](4) NOT NULL,
	[DESCRIPTION] [varchar](128) NOT NULL,
 CONSTRAINT [PK_PART_BSM] PRIMARY KEY CLUSTERED 
(
	[ID_PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BSM_VOL_APPORT]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BSM_VOL_APPORT](
	[CIE] [varchar](3) NOT NULL,
	[ID_BSM] [int] NOT NULL,
	[JEX] [smallint] NOT NULL,
	[LIG] [varchar](5) NOT NULL,
	[AER] [varchar](3) NOT NULL,
 CONSTRAINT [PK_BSM_VOL_APPORT] PRIMARY KEY CLUSTERED 
(
	[CIE] ASC,
	[ID_BSM] ASC,
	[JEX] ASC,
	[LIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BSM_VOL_CNT]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BSM_VOL_CNT](
	[ID_BSM] [int] NOT NULL,
	[CIE] [varchar](3) NOT NULL,
	[LIG] [varchar](5) NOT NULL,
	[JEX] [smallint] NOT NULL,
	[AER] [varchar](3) NOT NULL,
 CONSTRAINT [PK_BSM_VOL_CNT] PRIMARY KEY CLUSTERED 
(
	[ID_BSM] ASC,
	[CIE] ASC,
	[LIG] ASC,
	[JEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CIE]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIE](
	[ID_CIE] [int] NOT NULL,
	[CODE_CIE] [char](3) NOT NULL,
	[NO_CIE] [char](3) NOT NULL,
	[CODE_OACI] [char](3) NOT NULL,
	[NOM_CIE] [varchar](128) NULL,
	[OBS] [varchar](255) NULL,
	[DATE_EST_OBSOLETE] [datetime] NULL,
 CONSTRAINT [PK_CIE] PRIMARY KEY CLUSTERED 
(
	[ID_CIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLASSE_CIE]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLASSE_CIE](
	[ID_CLASSE_CIE] [int] NOT NULL,
	[ID_CIE] [int] NOT NULL,
	[CCLA] [char](1) NOT NULL,
	[PRIORITAIRE] [bit] NOT NULL,
 CONSTRAINT [PK_CLASSE_CIE] PRIMARY KEY CLUSTERED 
(
	[ID_CLASSE_CIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRP_BNQ]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRP_BNQ](
	[ID_GRP_BNQ] [int] NOT NULL,
	[ID_RES] [int] NOT NULL,
	[NOM_GRP_BNQ] [varchar](4) NOT NULL,
	[OBS] [varchar](255) NULL,
 CONSTRAINT [PK_GRP_BNQ] PRIMARY KEY CLUSTERED 
(
	[ID_GRP_BNQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRP_TRI]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRP_TRI](
	[ID_GRP_TRI] [int] NOT NULL,
	[NOM_GRP_TRI] [char](1) NOT NULL,
	[LIB] [varchar](128) NOT NULL,
 CONSTRAINT [PK_GRP_TRI] PRIMARY KEY CLUSTERED 
(
	[ID_GRP_TRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOD_CLA]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOD_CLA](
	[ID_MOD_CLA] [int] NOT NULL,
	[LIB] [varchar](128) NOT NULL,
	[EXPR] [varchar](128) NOT NULL,
	[EST_OBSOLETE] [bit] NOT NULL,
 CONSTRAINT [PK_MOD_CLA] PRIMARY KEY CLUSTERED 
(
	[ID_MOD_CLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOD_SATISFACTION]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOD_SATISFACTION](
	[ID_MOD_SATISFACT] [int] NOT NULL,
	[LIB] [varchar](128) NOT NULL,
	[EST_OBSOLETE] [bit] NOT NULL,
 CONSTRAINT [PK_MOD_SATISFACTION] PRIMARY KEY CLUSTERED 
(
	[ID_MOD_SATISFACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OCCURENCE_BAGAGE]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OCCURENCE_BAGAGE](
	[ID_BAGAGE] [int] NOT NULL,
	[ID_BSM] [int] NULL,
	[CLEF_GLOBALE] [varchar](40) NULL,
	[CODE_IATA] [varchar](40) NULL,
	[TENTREE_TRI] [datetime] NULL,
	[ID_LOC_ENTREE] [varchar](15) NULL,
	[INDIC_SECTOR] [char](1) NULL,
	[ORDRE_APPARITION] [int] NOT NULL,
	[CIE] [varchar](3) NULL,
	[LIG] [varchar](5) NULL,
	[JEX] [char](2) NULL,
 CONSTRAINT [PK_OCCURENCE_BAGAGE] PRIMARY KEY CLUSTERED 
(
	[ID_BAGAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARK_AVION]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARK_AVION](
	[ID_PARKING] [int] NOT NULL,
	[CODE_PARKING] [char](3) NOT NULL,
 CONSTRAINT [PK_PARK_AVION] PRIMARY KEY CLUSTERED 
(
	[ID_PARKING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PST_OPERATEUR]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PST_OPERATEUR](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[TRONC_ASSOCIE] [varchar](5) NOT NULL,
	[TYP_PST] [char](3) NOT NULL,
	[NOM_RES] [varchar](128) NOT NULL,
	[LIB] [varchar](128) NULL,
 CONSTRAINT [PK_PST_OPERATEUR] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_BNQ]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_BNQ](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_BNQ] [int] NULL,
	[ID_SIE] [char](32) NOT NULL,
	[ID_PUBLIC] [char](32) NOT NULL,
	[EST_MOD_LOCAL] [bit] NOT NULL,
	[CBQ] [varchar](4) NOT NULL,
 CONSTRAINT [PK_PST_BNQ_ENRGT] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_EDS]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_EDS](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[NB_BAG_MAX] [int] NOT NULL,
	[NB_BAG_TYPIQUE] [int] NOT NULL,
	[NOM_RES] [varchar](128) NOT NULL,
 CONSTRAINT [PK_EDS] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_LIG_ENT_TRI]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_LIG_ENT_TRI](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[TYP_LIG] [char](4) NULL,
	[NOM_RES] [varchar](128) NOT NULL,
	[LIB] [varchar](128) NULL,
 CONSTRAINT [PK_LIG_ENT_TRI] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_PIM]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_PIM](
	[ID_RES] [int] NOT NULL,
	[ID_LIG_SURETE] [varchar](5) NOT NULL,
	[NB_MAX_BAGS_ACCUMULES] [smallint] NOT NULL,
	[NB_BAG_TYPIQUE] [int] NOT NULL,
	[NB_BAG_MAX] [int] NOT NULL,
 CONSTRAINT [PK_PIM] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_PORTIQUE_SCANNER]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RES_PORTIQUE_SCANNER](
	[ID_PORTIQUE_SCANNER] [int] NOT NULL,
	[ID_GRP_BNQ] [int] NOT NULL,
	[TPS_PARCOURS_GRP_BNQ] [tinyint] NOT NULL,
 CONSTRAINT [PK_PORTIQUE_SCANNER] PRIMARY KEY CLUSTERED 
(
	[ID_PORTIQUE_SCANNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RES_SORTIE_TRI]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_SORTIE_TRI](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[TRIEUR] [char](1) NOT NULL,
	[TYPE_SORTIE] [char](1) NOT NULL,
	[NB_GROUPES_MAX] [smallint] NOT NULL,
	[TPS_PARCOURS_TRIEUR] [smallint] NOT NULL,
	[MAX_DEBIT] [smallint] NOT NULL,
	[NB_MAX_BAG] [smallint] NOT NULL,
	[ID_TVJ1] [varchar](128) NOT NULL,
	[ID_TVJ2] [varchar](128) NULL,
	[NB_BAGS_EN_COURS] [int] NULL,
	[OBS] [varchar](255) NULL,
	[NOM_RES] [varchar](128) NOT NULL,
	[LIB] [varchar](128) NULL,
 CONSTRAINT [PK_SORTIE_TRI] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_TOMO]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_TOMO](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[TAUX_CHARGE] [real] NOT NULL,
	[NB_BAG_MAX] [int] NOT NULL,
	[NB_BAG_TYPIQUE] [int] NOT NULL,
	[NOM_RES] [varchar](128) NOT NULL,
	[LIB] [varchar](128) NULL,
 CONSTRAINT [PK_TOMO] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RES_TRONCON]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RES_TRONCON](
	[ID_RES] [int] NOT NULL,
	[ID_GRP_TRI] [int] NOT NULL,
	[TYPE] [varchar](25) NOT NULL,
	[NOM_RES] [varchar](128) NOT NULL,
	[LIB] [varchar](128) NULL,
 CONSTRAINT [PK_TRONCON] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAC_CODE_ALARME]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAC_CODE_ALARME](
	[ID_CODE_ALARME] [int] NOT NULL,
	[MESSAGE] [varchar](128) NOT NULL,
	[TYPE_ALARME] [varchar](20) NULL,
 CONSTRAINT [PK_CODE_ALARME] PRIMARY KEY CLUSTERED 
(
	[ID_CODE_ALARME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAC_GLOB]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAC_GLOB](
	[ID_TACHE] [int] NOT NULL,
	[TPLANIF_MODIF] [datetime] NULL,
	[ID_RES] [int] NULL,
	[TYP_TAC_GLOB] [char](3) NOT NULL,
	[TDEB] [datetime] NOT NULL,
	[TFIN] [datetime] NOT NULL,
	[NIV_ALA] [varchar](20) NULL,
	[COD_ALA] [smallint] NULL,
	[CAR_CLASS] [varchar](128) NULL,
	[ID_TACHE_MERE] [int] NULL,
	[COUT_BASE] [int] NULL,
 CONSTRAINT [PK_TAC_GLOB] PRIMARY KEY CLUSTERED 
(
	[ID_TACHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAC_GRP_BAGS]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAC_GRP_BAGS](
	[ID_TACHE] [int] NOT NULL,
	[ID_RES] [int] NULL,
	[STATUT_TEMPOREL] [char](3) NOT NULL,
	[TDEB] [datetime] NOT NULL,
	[TFIN] [datetime] NOT NULL,
	[NIV_ALA] [varchar](20) NULL,
	[COD_ALA] [smallint] NULL,
	[CAR_CLASS] [varchar](128) NULL,
	[ID_TACHE_MERE] [int] NULL,
	[COUT_BASE] [int] NULL,
	[NB_CONTAINERS] [int] NULL,
	[ID_VOL_OPERATING] [int] NULL,
	[ID_CODE_ALARME] [int] NULL,
 CONSTRAINT [PK_TAC_GRP_BAGS] PRIMARY KEY CLUSTERED 
(
	[ID_TACHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRACE_BAGAGE]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRACE_BAGAGE](
	[ID_TRACE_BAG] [int] NOT NULL,
	[ID_BAGAGE] [int] NOT NULL,
	[TTRACE] [datetime] NOT NULL,
	[ID_LOC] [int] NOT NULL,
	[TYPE] [int] NOT NULL,
	[STATUT] [int] NULL,
	[INFO] [varchar](128) NULL,
 CONSTRAINT [PK_TRACE_BAGAGE] PRIMARY KEY CLUSTERED 
(
	[ID_TRACE_BAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TYP_AVION]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TYP_AVION](
	[ID_TYP_AVION] [int] NOT NULL,
	[TYP] [char](3) NOT NULL,
	[LIB] [varchar](128) NULL,
	[PAX_STD] [int] NULL,
	[PAX_MAX] [smallint] NULL,
	[OBS] [varchar](255) NULL,
 CONSTRAINT [PK_TYP_AVION] PRIMARY KEY CLUSTERED 
(
	[ID_TYP_AVION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOL]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOL](
	[ID_VOL] [int] NOT NULL,
	[ID_CIE] [int] NOT NULL,
	[LIG] [varchar](5) NOT NULL,
	[JEX] [smallint] NOT NULL,
	[DHC] [datetime] NULL,
	[STA] [varchar](4) NULL,
	[PKG] [char](3) NULL,
	[SHA] [int] NULL,
	[PAX] [smallint] NULL,
	[IMM] [varchar](6) NULL,
	[ID_TYP] [int] NULL,
	[ID_VOL_OPERATING] [int] NULL,
	[MAS] [nchar](10) NULL,
	[SAFIR] [bit] NOT NULL,
 CONSTRAINT [PK_VOL] PRIMARY KEY CLUSTERED 
(
	[ID_VOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOL_DEPART]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOL_DEPART](
	[ID_VOL] [int] NOT NULL,
	[SHA] [char](1) NOT NULL,
	[CRE] [char](1) NOT NULL,
	[TYP] [char](3) NULL,
	[JUR] [smallint] NULL,
	[SCT] [datetime] NULL,
	[AVC] [datetime] NULL,
	[IMM] [char](6) NULL,
	[PAX] [smallint] NULL,
	[MAS] [varchar](128) NULL,
	[DES] [char](3) NULL,
	[ID_VOL_OPERATING] [int] NULL,
 CONSTRAINT [PK_VOL_DEPART] PRIMARY KEY CLUSTERED 
(
	[ID_VOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOL_ENRGT_SUR]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOL_ENRGT_SUR](
	[ID_RES] [int] NOT NULL,
	[ID_VOL] [int] NOT NULL,
	[DBQ] [datetime] NULL,
	[FBQ] [datetime] NULL,
	[SBQ] [char](1) NULL,
 CONSTRAINT [PK_VOL_ENRGT_SUR] PRIMARY KEY CLUSTERED 
(
	[ID_RES] ASC,
	[ID_VOL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VOL_ITI]    Script Date: 09/10/2013 15:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOL_ITI](
	[ID_VOL] [int] NOT NULL,
	[CODE_VILLE] [char](3) NOT NULL,
	[ORDRE_ESCALE] [smallint] NOT NULL,
 CONSTRAINT [PK_ITI] PRIMARY KEY CLUSTERED 
(
	[ID_VOL] ASC,
	[CODE_VILLE] ASC,
	[ORDRE_ESCALE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CIE] ADD  DEFAULT (null) FOR [DATE_EST_OBSOLETE]
GO
ALTER TABLE [dbo].[VOL] ADD  CONSTRAINT [DF_VOL_SAFIR]  DEFAULT ((1)) FOR [SAFIR]
GO
ALTER TABLE [dbo].[BSM]  WITH NOCHECK ADD  CONSTRAINT [FK_BSM_VOL] FOREIGN KEY([ID_VOL])
REFERENCES [dbo].[VOL] ([ID_VOL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BSM] CHECK CONSTRAINT [FK_BSM_VOL]
GO
ALTER TABLE [dbo].[BSM_A_POUR_PART]  WITH NOCHECK ADD  CONSTRAINT [FK_A_POUR_PART_BSM] FOREIGN KEY([ID_BSM])
REFERENCES [dbo].[BSM] ([ID_BSM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BSM_A_POUR_PART] CHECK CONSTRAINT [FK_A_POUR_PART_BSM]
GO
ALTER TABLE [dbo].[BSM_A_POUR_PART]  WITH NOCHECK ADD  CONSTRAINT [FK_A_POUR_PART_PART_BSM] FOREIGN KEY([ID_PART])
REFERENCES [dbo].[BSM_PARTICULARITEES] ([ID_PART])
GO
ALTER TABLE [dbo].[BSM_A_POUR_PART] CHECK CONSTRAINT [FK_A_POUR_PART_PART_BSM]
GO
ALTER TABLE [dbo].[BSM_VOL_APPORT]  WITH NOCHECK ADD  CONSTRAINT [FK_BSM_VOL_APPORT] FOREIGN KEY([ID_BSM])
REFERENCES [dbo].[BSM] ([ID_BSM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BSM_VOL_APPORT] CHECK CONSTRAINT [FK_BSM_VOL_APPORT]
GO
ALTER TABLE [dbo].[BSM_VOL_CNT]  WITH NOCHECK ADD  CONSTRAINT [FK_BSM_VOL_CNT] FOREIGN KEY([ID_BSM])
REFERENCES [dbo].[BSM] ([ID_BSM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BSM_VOL_CNT] CHECK CONSTRAINT [FK_BSM_VOL_CNT]
GO
ALTER TABLE [dbo].[CLASSE_CIE]  WITH NOCHECK ADD  CONSTRAINT [FK_CLASSE_CIE_CIE] FOREIGN KEY([ID_CIE])
REFERENCES [dbo].[CIE] ([ID_CIE])
GO
ALTER TABLE [dbo].[CLASSE_CIE] CHECK CONSTRAINT [FK_CLASSE_CIE_CIE]
GO
ALTER TABLE [dbo].[GRP_BNQ]  WITH NOCHECK ADD  CONSTRAINT [FK_GRP_BNQ_LIG_ENT_TRI] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[RES_LIG_ENT_TRI] ([ID_RES])
GO
ALTER TABLE [dbo].[GRP_BNQ] CHECK CONSTRAINT [FK_GRP_BNQ_LIG_ENT_TRI]
GO
ALTER TABLE [dbo].[OCCURENCE_BAGAGE]  WITH NOCHECK ADD  CONSTRAINT [FK_OCCURENCE_BAGAGE_BSM] FOREIGN KEY([ID_BSM])
REFERENCES [dbo].[BSM] ([ID_BSM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OCCURENCE_BAGAGE] CHECK CONSTRAINT [FK_OCCURENCE_BAGAGE_BSM]
GO
ALTER TABLE [dbo].[PST_OPERATEUR]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_4] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[PST_OPERATEUR] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_4]
GO
ALTER TABLE [dbo].[RES_BNQ]  WITH NOCHECK ADD  CONSTRAINT [FK_PST_BNQ_ENRGT_GRP_BNQ] FOREIGN KEY([ID_GRP_BNQ])
REFERENCES [dbo].[GRP_BNQ] ([ID_GRP_BNQ])
GO
ALTER TABLE [dbo].[RES_BNQ] CHECK CONSTRAINT [FK_PST_BNQ_ENRGT_GRP_BNQ]
GO
ALTER TABLE [dbo].[RES_BNQ]  WITH NOCHECK ADD  CONSTRAINT [FK_PST_BNQ_ENRGT_PST_OPERATEUR] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[PST_OPERATEUR] ([ID_RES])
GO
ALTER TABLE [dbo].[RES_BNQ] CHECK CONSTRAINT [FK_PST_BNQ_ENRGT_PST_OPERATEUR]
GO
ALTER TABLE [dbo].[RES_EDS]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_3] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[RES_EDS] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_3]
GO
ALTER TABLE [dbo].[RES_LIG_ENT_TRI]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_2] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[RES_LIG_ENT_TRI] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_2]
GO
ALTER TABLE [dbo].[RES_PIM]  WITH NOCHECK ADD  CONSTRAINT [FK_PIM_PST_OPERATEUR] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[PST_OPERATEUR] ([ID_RES])
GO
ALTER TABLE [dbo].[RES_PIM] CHECK CONSTRAINT [FK_PIM_PST_OPERATEUR]
GO
ALTER TABLE [dbo].[RES_PORTIQUE_SCANNER]  WITH CHECK ADD  CONSTRAINT [FK_PORTIQUE_SCANNER_GRP_BNQ] FOREIGN KEY([ID_GRP_BNQ])
REFERENCES [dbo].[GRP_BNQ] ([ID_GRP_BNQ])
GO
ALTER TABLE [dbo].[RES_PORTIQUE_SCANNER] CHECK CONSTRAINT [FK_PORTIQUE_SCANNER_GRP_BNQ]
GO
ALTER TABLE [dbo].[RES_SORTIE_TRI]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_6] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[RES_SORTIE_TRI] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_6]
GO
ALTER TABLE [dbo].[RES_TOMO]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_5] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[RES_TOMO] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_5]
GO
ALTER TABLE [dbo].[RES_TRONCON]  WITH NOCHECK ADD  CONSTRAINT [FK_RESSOURCE_GRP_TRI_7] FOREIGN KEY([ID_GRP_TRI])
REFERENCES [dbo].[GRP_TRI] ([ID_GRP_TRI])
GO
ALTER TABLE [dbo].[RES_TRONCON] CHECK CONSTRAINT [FK_RESSOURCE_GRP_TRI_7]
GO
ALTER TABLE [dbo].[TAC_GLOB]  WITH NOCHECK ADD  CONSTRAINT [FK_TACHE_SORTIE_TRI_5] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[RES_SORTIE_TRI] ([ID_RES])
GO
ALTER TABLE [dbo].[TAC_GLOB] CHECK CONSTRAINT [FK_TACHE_SORTIE_TRI_5]
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS]  WITH CHECK ADD  CONSTRAINT [FK_TAC_GRP_BAGS_CODE_ALARME] FOREIGN KEY([ID_CODE_ALARME])
REFERENCES [dbo].[TAC_CODE_ALARME] ([ID_CODE_ALARME])
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS] CHECK CONSTRAINT [FK_TAC_GRP_BAGS_CODE_ALARME]
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS]  WITH NOCHECK ADD  CONSTRAINT [FK_TAC_GRP_BAGS_SORTIE_TRI] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[RES_SORTIE_TRI] ([ID_RES])
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS] CHECK CONSTRAINT [FK_TAC_GRP_BAGS_SORTIE_TRI]
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS]  WITH NOCHECK ADD  CONSTRAINT [FK_TAC_GRP_BAGS_VOL_OPERATING] FOREIGN KEY([ID_VOL_OPERATING])
REFERENCES [dbo].[VOL] ([ID_VOL])
GO
ALTER TABLE [dbo].[TAC_GRP_BAGS] CHECK CONSTRAINT [FK_TAC_GRP_BAGS_VOL_OPERATING]
GO
ALTER TABLE [dbo].[TRACE_BAGAGE]  WITH NOCHECK ADD  CONSTRAINT [FK_TRACE_BAGAGE_OCCURENCE_BAGAGE] FOREIGN KEY([ID_BAGAGE])
REFERENCES [dbo].[OCCURENCE_BAGAGE] ([ID_BAGAGE])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACE_BAGAGE] CHECK CONSTRAINT [FK_TRACE_BAGAGE_OCCURENCE_BAGAGE]
GO
ALTER TABLE [dbo].[VOL]  WITH NOCHECK ADD  CONSTRAINT [FK_VOL_CIE] FOREIGN KEY([ID_CIE])
REFERENCES [dbo].[CIE] ([ID_CIE])
GO
ALTER TABLE [dbo].[VOL] CHECK CONSTRAINT [FK_VOL_CIE]
GO
ALTER TABLE [dbo].[VOL]  WITH CHECK ADD  CONSTRAINT [FK_VOL_TYP_AVION] FOREIGN KEY([ID_TYP])
REFERENCES [dbo].[TYP_AVION] ([ID_TYP_AVION])
GO
ALTER TABLE [dbo].[VOL] CHECK CONSTRAINT [FK_VOL_TYP_AVION]
GO
ALTER TABLE [dbo].[VOL]  WITH CHECK ADD  CONSTRAINT [FK_VOL_VOL] FOREIGN KEY([ID_VOL_OPERATING])
REFERENCES [dbo].[VOL] ([ID_VOL])
GO
ALTER TABLE [dbo].[VOL] CHECK CONSTRAINT [FK_VOL_VOL]
GO
ALTER TABLE [dbo].[VOL_DEPART]  WITH NOCHECK ADD  CONSTRAINT [FK_VOL_DEPART_VOL] FOREIGN KEY([ID_VOL])
REFERENCES [dbo].[VOL] ([ID_VOL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VOL_DEPART] CHECK CONSTRAINT [FK_VOL_DEPART_VOL]
GO
ALTER TABLE [dbo].[VOL_DEPART]  WITH CHECK ADD  CONSTRAINT [FK_VOL_DEPART_VOL_DEPART] FOREIGN KEY([ID_VOL])
REFERENCES [dbo].[VOL_DEPART] ([ID_VOL])
GO
ALTER TABLE [dbo].[VOL_DEPART] CHECK CONSTRAINT [FK_VOL_DEPART_VOL_DEPART]
GO
ALTER TABLE [dbo].[VOL_DEPART]  WITH CHECK ADD  CONSTRAINT [FK_VOL_DEPART_VOL_DEPART_OPERATING] FOREIGN KEY([ID_VOL_OPERATING])
REFERENCES [dbo].[VOL_DEPART] ([ID_VOL])
GO
ALTER TABLE [dbo].[VOL_DEPART] CHECK CONSTRAINT [FK_VOL_DEPART_VOL_DEPART_OPERATING]
GO
ALTER TABLE [dbo].[VOL_ENRGT_SUR]  WITH NOCHECK ADD  CONSTRAINT [FK_VOL_ENRGT_SUR_PST_BNQ_ENRGT] FOREIGN KEY([ID_RES])
REFERENCES [dbo].[RES_BNQ] ([ID_RES])
GO
ALTER TABLE [dbo].[VOL_ENRGT_SUR] CHECK CONSTRAINT [FK_VOL_ENRGT_SUR_PST_BNQ_ENRGT]
GO
ALTER TABLE [dbo].[VOL_ENRGT_SUR]  WITH NOCHECK ADD  CONSTRAINT [FK_VOL_ENRGT_SUR_VOL] FOREIGN KEY([ID_VOL])
REFERENCES [dbo].[VOL] ([ID_VOL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VOL_ENRGT_SUR] CHECK CONSTRAINT [FK_VOL_ENRGT_SUR_VOL]
GO
ALTER TABLE [dbo].[VOL_ITI]  WITH NOCHECK ADD  CONSTRAINT [FK_ITI] FOREIGN KEY([ID_VOL])
REFERENCES [dbo].[VOL] ([ID_VOL])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VOL_ITI] CHECK CONSTRAINT [FK_ITI]
GO
